.sidebar {
    height: 100%;
    width: 40px;
    min-width: 250px;
	background-color:#424B54;
    transition: min-width 0.5s;
}

.sidebar > a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-collapsed {
    min-width: 40px;
}