.card-category-container {
    display: flex;
    flex-direction: column;
}

.card-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    
    padding: 10px;
    margin: 5px 10px 5px 10px;
}

.card-category-header:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

.card-category-content {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    margin-left: 10px;
    margin-top: 10px;

    transition: height 0.5s;
}

.card-category-content.card-category-content-collapsed {
    display: none;
}

div.card-category-content > div.card {
    margin-left: 10px;
    margin-bottom: 10px;
}