.card {
    display: flex;
    flex-direction: column;
    
    height: fit-content;

    background-color: white;

}

.card-expandable-item {
    display: flex;
    flex-direction: column;

    padding: 30px 26px 0;

    border: 1px solid silver;
    border-top: 0px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-expandable-item-hidden {
    display: none;
}

.card-expandable-item-section1 {
    display: flex;
}

.card-expandable-item-section1-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-expandable-item-section1-column > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    padding: 10px;
}

.card-expandable-item-section1-column-header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.card-expandable-item-section1-column-value {
    font-size: 16px;
}

.card-expandable-item-breakline {

    height: 3px;

    margin-top: 20px;
    margin-bottom: 20px;

    background-color: gray;
}

.card-expandable-item-section2 {
}

.card-expandable-item-section2-effect {
    margin-bottom: 30px
}

.card-expandable-item-section2-added-effect {
    
}

.card-expandable-item-section3 {
    display: flex;
    align-items: flex-end;
    
    padding-top: 40px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    
    height: 60px;
    
    background: url('../../../images/magic/spell-background.png') no-repeat;
    background-size: cover;

    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
    
    overflow: hidden;
}

.card-header:hover {
    position: relative;
    cursor: pointer;
}

.card-header:hover::before {
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: black;
    opacity: 0.2;
}

.card-header > div {
    width: calc(25% - 28px);
}

.card-header > div:nth-child(1),
.card-header > div:nth-child(2) {
    width: 0%;
}


.card-header-icon {
    min-width: 35px;
    min-height: 35px;

    margin: 0 20px 0 7px;

    border-radius: 3px;
    
    background-size: cover;
}

.card-header-lv {
    min-width: 50px;
    max-width: 50px;
}

.card-header-name-container {
    min-width: 270px;
}

.card-header-name {
    
}

.card-header-school {
    font-size: 10px;
    color: #979aa4;
    text-transform: uppercase;
}

.card-header-cost {
    min-width: 150px;
}

.card-header-maintenance {
    min-width: 150px;
}

.card-header-type {
    min-width: 150px;
}

.card-header-action {
    min-width: 150px;
}

/* .card-info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card-tag {
    height: 15px;

    background-color: #424B54;
    color: white;
    
    padding: 0px 5px;
    margin-right: 5px;
    margin-bottom: 2px;

    border-radius: 7px;
    border: 1px solid #424B54;
    
    font-size: 10px;
}

.card-description {
    height: auto;
    max-width: 325px;

    font-size: 12px;
    line-height: 16px;

    position: relative;
    overflow: hidden;
    padding-right: 1rem;
} */

.card-icon-light {
    background-image: url('../../../images/magic/school/light.png');
}

.card-icon-darkness {
    background-image: url('../../../images/magic/school/darkness.png');
}

.card-icon-creation {
    background-image: url('../../../images/magic/school/creation.png');
}

.card-icon-destruction {
    background-image: url('../../../images/magic/school/destruction.png');
}

.card-icon-air {
    background-image: url('../../../images/magic/school/air.png');
}

.card-icon-water {
    background-image: url('../../../images/magic/school/water.png');
}

.card-icon-fire {
    background-image: url('../../../images/magic/school/fire.png');
}

.card-icon-earth {
    background-image: url('../../../images/magic/school/earth.png');
}

.card-icon-essence {
    background-image: url('../../../images/magic/school/essence.png');
}

.card-icon-illusion {
    background-image: url('../../../images/magic/school/illusion.png');
}

.card-icon-necromancy {
    background-image: url('../../../images/magic/school/necromancy.png');
}
