.header {
    display: flex;
    align-items: center;
    margin: 7px;
}

div.header > div.multi-filter,
div.header > div.search-filter-container {
    margin-left: 5px;
    margin-right: 5px;
}

div.header > div.search-filter-container:first-child {
    margin-left: 0px;
}

div.header > div.multi-filter:last-child {
    margin-right: 0px;
}
