.multi-filter-container {
    height: 86px;
}

.multi-filter {
    height: 30px;
}

div.multi-filter > div {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
}

.multi-filter-header {
    margin-bottom: 5px;
    color: white;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}