html {
	overflow: hidden;
}

.app {
  	height: 100vh;
  	width: 100vw;
}

.content {
	height: 100%;
	width: 100%;

	display: flex;
}

.main-page {
	transition: width 0.5s;
}

.sidebar ~ .main-page {
	width: calc(100% - 250px);
}

.sidebar-collapsed ~ .main-page {
	width: calc(100% - 40px);
}
